
<div id="main">
<% if current_user %>
  <p class="alert alert-success center-text"><span class= "welcome"><%= "Hello #{@current_user.email}, welcome to your urls"%></span></p>
<% end %>

  <div class="row-fluid">
    <div class="hero-unit span8 offset2">
      <h3>url to shorten:</h3>
      <form action="/urls" method="POST">
      <fieldset>
        <input type="text" name="long_url" /><br/>
        <% if @url && @url.errors.any? %>
          <% @url.errors.full_messages.each do |error| %>
            <p class="alert alert-error"><%= error %></p>
          <% end %>
        <% end %>
        <input type="submit" value="Go &raquo;" class="btn btn-success btn-large" />
      </fieldset>
      </form>
    </div><!-- /.hero-unit -->
    <div class="span2"></div>
 </div><!-- /.row-fluid -->

<div class="row-fluid">
<table class="table table-hover">
  <caption class="alert-success">Top URLs</caption>
  <tr>
    <th>#</th>
    <th>long url</th>
    <th>short url</th>
    <th>clicks</th>
    <th></th>
  </tr>
<tr>
<% @urls.each_with_index do |url, i| %>
  <td><%= i + 1 %></td>
  <td><%= url.long_url %></td> 
  <td><a href="/<%= url.short_url%>" target="_blank">/<%= url.short_url %></a></td>
  <td><%= url.clicks %></li></td>
   <td><% if @current_user && @current_user.urls.include?(url)%>
    <i class="icon-star"></i> your url <i class="icon-star"></i> </td>
    <% end %>
  </tr>
<% end %>
</table>
</div><!-- /.row-fluid -->

<% if @current_user%>
<div class="row-fluid">
<table class="table table-hover">
  <caption class="alert-success">Your URLs</caption>
  <tr>
    <th>#</th>
    <th>long url</th>
    <th>short url</th>
    <th>clicks</th>

  </tr>
  <tr>
  <% @current_user.urls.each_with_index do |url, i| %>
    <td><%= i + 1 %></td>
    <td><%= url.long_url %> </td> 
    <td><a href="<%= url.short_url%>" target="_blank">/<%= url.short_url %></a></td> 
    <td><%= url.clicks %></td>
<% end %>
<% end %>
</div><!-- /.row-fluid>
</div><!-- #main -->
