<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
  }
  th {
    text-align: left;
  }
</style>

<% if current_user %>
  <h2><span class= "welcome"><%= "Hello #{@current_user.email}, welcome to your urls"%></span></h2>
<% end %>

<h1>J & Shivam's Bitly</h1>


<% if @url && @url.errors.any? %>
<ul class= "errors">
  <% @url.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>


<div class="container">
  <form action="/urls" method="POST">
    <fieldset>
      <legend>Url</legend>
      <label for ="long_url">Insert Url</label>
      <input type="text" name="long_url" /><br/>
      <input type="submit" value="Create short url" />
    </fieldset>
</div>

<h2>Top URLs</h2>
<ul>

<% @urls.each do |url| %>
  <li><%= url.long_url %> = /<%= url.short_url %> <br/> 
    clicks = <%= url.clicks %>
<% end %>
</ul>
<% if @current_user%>
  <h2>Your Top URLs</h2>
  <% @current_user.urls.each do |url| %>
  <li><%= url.long_url %> = /<%= url.short_url %> <br/> 
    clicks = <%= url.clicks %>
<% end %>
<% end %>

